[DEFAULT]
#LOG Levels - debug, info, warning, error, critical
log_level= debug

#Server log settings
debug=True

# Log to this file. Make sure the user running rsc has
# permissions to write to this file!
log_file=/var/log/valence/valence.log

#address and port the server binds too
bind_host = 0.0.0.0
bind_port = 8181

[podm]
url=http://<ip address>
user=<podm user>
password=<podm admin>
redfish_base_ext=/redfish/v1/

[keystone]
keystone_auth_url=http://127.0.0.1:5000

[ironic]
ironic_username=admin
ironic_password=password
ironic_tenant_name=admin
