[DEFAULT]
#LOG Levels - debug, info, warning, error, critical
log_level= debug

#Server log settings
debug=False

# Log to this file. Make sure the user running rsc has
# permissions to write to this file!
log_file=/var/log/valence/valence.log

#address and port the server binds too
bind_host = 0.0.0.0
bind_port = 8181

#Server request timeout
timeout=1000

#Server workers
workers=4

[podm]
url=https://<ip address>:<port>
user=<podm user>
password=<podm admin>
redfish_base_ext=/redfish/v1/

[database_etcd]
host = localhost
port = 2379
