{% load i18n sizeformat %}
{% load url from future %}

<h3>{% trans "Composed Node Overview" %}</h3>
<br>
<div class="status detail">
  <h4>{% trans "Summary" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "ID" %}</dt>
    <dd>{{ server_id }}</dd>
    <dt>{% trans "Power" %}</dt>
    <dd>{{ rsa_server.power_state }}</dd>
    <dt>{% trans "Status" %}</dt>
    {% if rsa_server.status == 'OK' %}
    <!--<dd>{{ rsa_server.status }}</dd>-->
    <!--
    <dd><div class="glyphicon glyphicon-ok-circle" style="margin: 0 auto; color: #5CB85C; font-size:17px;"></div></dd>
    -->
    <dd><div class="fa fa-square" style="margin: 0 auto; color: #5CB85C; font-size:17px;"></div> OK</dd>
    {% endif %}
    <dt>{% trans "Model" %}</dt>
    <dd>{{ rsa_server.model }}</dd>
    <dt>{% trans "Location" %}</dt>
    <dd>{{ rsa_server.rack }}: {{ rsa_server.location }}</dd>
    <dt>{% trans "Description" %}</dt>
    <dd>{{ rsa_server.description }}</dd>
    <dt>{% trans "UUID" %}</dt>
    <dd>{{ rsa_server.uuid }}</dd>
  </dl>
</div>

<div class="specs detail">
  <h4>{% trans "Details" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Virtual Disks" %}</dt>
    {% for v in rsa_server.volume %}
    <dd>
    <a href="../../../virtual_disks/{{ v.id }}/detail/"> {{ v.name }} </a><br> 
    Capacity:  {{ v.size_GB }} GB, Mode:{{ v.mode }} <br>
    </dd>
    {% endfor %}
    <br>

    <dt>{% trans "Computer System" %}</dt>
    <dd>
    <a href="../../../blades/{{rsa_server.computer_system_id}}/detail/">{{ rsa_server.computer_system_name }} </a><br>
    <br>
    </dd>

    <!--
    <dt>{% trans "Processors" %}</dt>
    {% for cpu in rsa_server.cpus %}
    <dd>
    {{ cpu.name }} :<br>
    Model: {{ cpu.model }}, Total cores: {{ cpu.total_cores }}, Total threads: {{ cpu.total_threads }}, Manufacturor: {{ cpu.manufacturer }}, Speed: {{ cpu.speed_mhz }} MHZ
    <br>
    </dd>
    {% endfor %}
    <br>

    <dt>{% trans "Memory" %}</dt>
    {% for memory in rsa_server.memorys %}
    <dd>
    {{ memory.name }} :<br>
    Speed: {{ memory.speed_mhz }}MHZ, Capacity: {{ memory.capacity_mb }} MB, Type: {{ memory.device_type }}, Manufacturor: {{ memory.manufacturer }}
    </dd>
    {% endfor %}


    <dt>{% trans "Flavor" %}</dt>
    {% if instance.full_flavor %}
      <dd>{{ instance.full_flavor.name }}</dd>
      <dt>{% trans "Flavor ID" %}</dt>
      <dd>{{ instance.full_flavor.id }}</dd>
      <dt>{% trans "RAM" %}</dt>
      <dd>{{ instance.full_flavor.ram|mb_float_format }}</dd>
      <dt>{% trans "VCPUs" %}</dt>
      <dd>{{ instance.full_flavor.vcpus }} {% trans "VCPU" %}</dd>
      <dt>{% trans "Disk" %}</dt>
      <dd>{{ instance.full_flavor.disk }}{% trans "GB" %}</dd>
      {% if instance.full_flavor.ephemeral %}
        <dt>{% trans "Ephemeral Disk" %}</dt>
        <dd>{{ instance.full_flavor.ephemeral }}{% trans "GB" %}</dd>
      {% endif %}
    {% else %}
      {% trans "Not available" %}
    {% endif %}
    -->
  </dl>
</div>
<!--
<div class="addresses detail">
    <h4>{% trans "IP Addresses" %}</h4>
    <hr class="header_rule">
    <dl class="dl-horizontal">
      {% for network, ip_list in instance.addresses.items %}
        <dt>{{ network|title }}</dt>
        <dd>
          {% for ip in ip_list %}
            {% if not forloop.last %}{{ ip.addr }},&nbsp;{% else %}{{ ip.addr }}{% endif %}
          {% endfor %}
        </dd>
      {% endfor %}
    </dl>
</div>

<div class="security_groups detail">
    <h4>{% trans "Security Groups" %}</h4>
    <hr class="header_rule">
    <dl class="dl-horizontal">
      {% for group in instance.security_groups %}
        <dt>{{ group.name }}</dt>
        <dd>
          <ul>
          {% for rule in group.rules %}
            <li>{{ rule }}</li>
            {% empty %}
            <li><em>{% trans "No rules defined." %}</em></li>
          {% endfor %}
          </ul>
        </dd>
        {% empty %}
        {% trans "Not available" %}
      {% endfor %}
    </dl>
</div>

<div class="meta detail">
    <h4>{% trans "Metadata" %}</h4>
    <hr class="header_rule">
    <dl class="dl-horizontal">
      <dt>{% trans "Key Name" %}</dt>
      {% with default_key_name="<em>"|add:_("None")|add:"</em>" %}
      <dd>{{ instance.key_name|default:default_key_name }}</dd>
      {% endwith %}
      {% url 'horizon:project:images:images:detail' instance.image.id as image_url %}
      <dt>{% trans "Image Name" %}</dt>
      <dd>
        {% if instance.image %}
          <a href="{{ image_url }}">{{ instance.image_name }}</a>
        {% else %}
          <em>{% trans "None" %}</em>
        {% endif %}
      </dd>
      {% with default_item_value="<em>"|add:_("N/A")|add:"</em>" %}
      {% for key, value in instance.metadata.items %}
        <dt>{{ key|force_escape }}</dt>
        <dd>{{ value|force_escape|default:default_item_value }}</dd>
      {% endfor %}
      {% endwith %}
    </dl>
</div>

<div class="volumes detail">
    <h4>{% trans "Volumes Attached" %}</h4>
    <hr class="header_rule">
    <dl class="dl-horizontal">
    {% for volume in instance.volumes %}
        <dt>{% trans "Attached To" %}</dt>
        <dd>
            {% url 'horizon:project:volumes:volumes:detail' volume.id as volume_url %}
            {% blocktrans with volume_label=volume.name|default:volume.id volume_device=volume.device %}
            <a href="{{ volume_url }}">{{ volume_label }}</a> on {{ volume_device }}
            {% endblocktrans %}
        </dd>
        {% empty %}
        <dt>{% trans "Volume" %}</dt>
        <dd><em>{% trans "No volumes attached." %}</em></dd>
    {% endfor %}
    </dl>
</div>
-->
